/* Initial setup */
html, body {
    height: 100%;
}

body {
	background: #FFF8FE;
	position: relative;
	height: 100%;
	width: 100%;
	font-family: Arial, sans-serif;
	text-align: center;
	padding-right: 50px;
}

a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

ul li {	
	display: inline;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

#top-content, #main-content, #body-content {
	/*border: 1px solid black;*/
	margin-top: 50px;
	margin-bottom: 50px;
}

*:focus {
	outline: none;
}

/*********************
Header + top content 
**********************/

.game-content {
	display: none;
}

nav {
	width: 80%;
	margin: 0px auto;
	padding: 0px 25px 0px 0px;
}

nav ul li:first-child {
	float: left;
}

nav ul li:last-child {
	float: right;
}

.overlay-content {
	display: none;
	margin: 0px auto;
	width: 600px;
	border: 1px solid black;
	text-align: left;
	padding: 15px 10px 15px 25px;
}

#title {
	margin: 50px 0px;
	font-size: 2.5em;
}

#top-content h2 {
	font-size: 2em;
}

#top-content li {
	font-size: 1.25em;
}

/******************** 
  Main body content 
*********************/

#main-content {
	padding: 25px 0px;
	width: 450px;
	margin: 0 auto;
	text-align: center;
}

#answer-input, #start-game {
	line-height: 24px;
	font-size: 1.5em;
	font-style: italic;
}

#answer-input {
	width: 500px;
	background: none;
	border: none;
	border-bottom: 1px solid #BFBABE;
	color: gray;
	text-align: center;

}

#start-game {
	padding: 24px;
}

/**************** 
Bottom content 
*****************/

#bottom-content {
	margin-top: 100px;
}

.question-bubble, .unanswered, .correct, .incorrect {

	padding: 55px;
	margin: 0 15px 0 15px;
	border-radius: 90px;
}

.question-bubble {
	font-size: 2em;
	font-weight: bold;
}

.unanswered {
	background: #E5DFE4;
	border: 3px dashed #403E3F;
}

.correct {
	background: #3FFF46;
	border: 3px dashed #104012;
}

.incorrect {
	background: #FF0300;
	border: 3px dashed #400100;
}

.visible {
	display: block;
}

.hidden {
	display: none;
}
